.main-container {
  display: flex;
  height: calc(100vh - 50px);
  overflow: hidden;
}

.main-container ::-webkit-scrollbar {
  width: 0;
}

.main-form-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.forms-container {
  width: 80vw;
  height: 100%;
  overflow: auto;
  display: flex;
}
